<% content_for :body_class, "transparent-nav" %>
<div class="banner" style="margin-top: -56px;">
  <%= image_tag "landing_banner.jpg", class: "w-100", style: "height: 100vh; object-fit: cover;" %>
</div>
